<div class="popup">
  <h2 class="popupName">Кобальт</h2>
  <div class="popupType">Бурый медведь</div>
  <div class="popupSex">Самка</div>
  <p class="popupInfo">
    Некогда бурый медведь был обычен по всей Европе, включая Англию и Ирландию (Атласский медведь), а на востоке через Сибирь и Китай доходил до Японии.
    В Северную Америку он, вероятно, попал около 40 000 лет назад из Азии, через Берингов перешеек и широко расселился в западной части континента от Аляски и до севера Мексики.
  </p>
  <div class="popupImageHolder">
    <img class="popupImage" src="https://picsum.photos/id/433/440/300">
  </div>
  <div class="popupButtons">
    <button type="button" class="popupAcceptButton">Принять</button>
    <button type="button" class="popupCancelButton">Отклонить</button>
  </div>
  <button type="button" class="popupCloseButton">закрыть</button>
</div>
