<article class="card">
  <h2 class="cardName">Бьёрд</h2>
  <!-- <img class="cardImage" alt="Мишка не из заповедника" src="/res/images/Bear.png"> -->
  <div class="cardImageHolder">
    <img class="cardImage" alt="Мишка не из заповедника" src="https://picsum.photos/id/2/500/300">
  </div>
  <div class="cardType">Бурый медведь</div>
  <div class="cardSex">Самец</div>
  <button type="button" class="cancelButton">Отклонить</button>
  <button type="button" class="acceptButton">Принять</button>
  <div class="cardOpen"></div>
</article>

